.content-wrapper-stake-body-main-center-title
  .content-wrapper-stake-body-main-center-title-each
    | Available - &nbsp;
    .content-wrapper-stake-body-main-center-title-amount
      | #{globalBalanceKey} 
  .content-wrapper-stake-body-main-center-title-each
    .content-wrapper-stake-body-main-center-title-each.content-wrapper-stake-body-main-center-title-half
      | Half |
    .content-wrapper-stake-body-main-center-title-each.content-wrapper-stake-body-main-center-title-max
      |  &nbsp; Max
.content-wrapper-stake-body-main-center-body
  .content-wrapper-stake-body-main-center-body-icon
    img.content-wrapper-stake-body-main-center-body-icon-img(src=listOfToken[currentChainKey].img_url, alt=listOfToken[currentChainKey].coin_denom)
  .content-wrapper-stake-body-main-center-body-chain
    .content-wrapper-stake-body-main-center-body-chain-name
      .content-wrapper-stake-body-main-center-body-chain-name-network
        | #{listOfToken[currentChainKey].chain_name}
      .content-wrapper-stake-body-main-center-body-chain-name-icon
        svg(width='19' height='21' viewbox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M9.5 12.9671L2.69485 6.35098C2.19275 5.86283 1.37868 5.86283 0.876577 6.35098C0.374474 6.83914 0.374474 7.63059 0.876577 8.11875L8.59086 15.6187C9.09297 16.1069 9.90703 16.1069 10.4091 15.6187L18.1234 8.11875C18.6255 7.63059 18.6255 6.83914 18.1234 6.35098C17.6213 5.86282 16.8073 5.86282 16.3051 6.35098L9.5 12.9671Z' fill='#2C202A')
    .content-wrapper-stake-body-main-center-body-chain-token
      | #{listOfToken[currentChainKey].coin_denom}
    .content-wrapper-stake-body-main-center-body-chain-list.display-none
      .content-wrapper-stake-body-main-center-body-chain-list-search
        .content-wrapper-stake-body-main-center-body-chain-list-search-icon
          svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.53516 11.9993C9.57273 11.9993 12.0352 9.53684 12.0352 6.49927C12.0352 3.4617 9.57273 0.999268 6.53516 0.999268C3.49759 0.999268 1.03516 3.4617 1.03516 6.49927C1.03516 9.53684 3.49759 11.9993 6.53516 11.9993Z' stroke='#A0ABDA' stroke-linecap='round' stroke-linejoin='round')
            path(d='M14.0352 13.9993L10.5352 10.4993' stroke='#A0ABDA' stroke-linecap='round' stroke-linejoin='round')
        input.content-wrapper-stake-body-main-center-body-chain-list-search-input(type='text' placeholder='Search')
      .content-wrapper-stake-body-main-center-body-chain-list-tile(id='chain-list')
        each chain in listOfToken
          .content-wrapper-stake-body-main-center-body-chain-list-each(data-chain-name=chain.chain_name.toLowerCase() data-coin-name=chain.coin_denom.toLowerCase())
            .content-wrapper-stake-body-main-center-body-chain-list-each-icon
              img(src=chain.img_url, alt="")
            .content-wrapper-stake-body-main-center-body-chain-list-each-chain
              | #{chain.chain_name}
            .content-wrapper-stake-body-main-center-body-chain-list-each-token
              | #{chain.coin_denom}
            .content-wrapper-stake-body-main-center-body-chain-list-each-id.display-none
              | #{chain.chain_id}
  .content-wrapper-stake-body-main-center-body-stake
      input.content-wrapper-stake-body-main-center-body-stake-amount(type="number", placeholder="0",value="0", min="0")

      .content-wrapper-stake-body-main-center-body-stake-dollar
        | $0
