extends ../partials/head
block main
  .all-wrapper
    input#chainInfoElement(style='display: none;', value=chainInfo)
    include ../partials/sidebar.pug
    .content
      include ../partials/header.pug
      .content-wrapper 
        include ../partials/stake.pug
        .content-wrapper-info(style=globalAddressKey ? 'display: none;' : '')
          .content-wrapper-info-body
          
            .content-wrapper-info-body-larrow
              svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.1486 14.0002L18.3237 7.82512C18.7793 7.36951 18.7793 6.63082 18.3237 6.1752C17.868 5.71959 17.1294 5.71959 16.6737 6.1752L9.67374 13.1752C9.21813 13.6308 9.21813 14.3695 9.67374 14.8251L16.6737 21.8251C17.1294 22.2807 17.868 22.2807 18.3237 21.8251C18.7793 21.3695 18.7793 20.6308 18.3237 20.1752L12.1486 14.0002Z' fill='#9695DF')
            
            .content-wrapper-info-body-wrapper
              
              .content-wrapper-info-body-wrapper-each
                .content-wrapper-info-body-spiral
                  svg(width='500' height='500' viewbox='0 0 470 470' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M312.943 -92.6944C326.024 -86.7084 339.413 -81.3363 352.188 -74.6852C423.882 -37.2852 476.259 18.4821 509.73 92.1565C525.673 127.356 535.587 164.142 538.5 202.617C542.537 256.235 536.047 308.319 514.329 357.947C482.596 430.547 431.393 484.83 360.262 519.672C316.469 541.16 270.274 551.342 221.166 550.933C172.672 550.523 127.244 539.83 84.6773 517.267C26.9849 486.672 -14.9174 440.83 -42.8182 381.84C-64.0759 337.021 -72.3031 289.645 -68.8794 240.477C-65.5067 192.231 -49.7678 148.026 -21.867 108.222C3.68316 71.7937 36.0808 43.2961 75.7347 23.3426C133.274 -5.61549 193.47 -14.3643 256.068 3.23566C335.222 25.4403 390.769 75.5286 418.107 152.631C448.972 239.556 433.591 319.677 366.649 385.063C312.534 437.914 246.563 456.537 172.314 437.147C102.358 418.882 47.8339 357.026 39.1979 285.705C31.3285 220.831 53.6082 167.673 106.906 129.045C158.977 91.2355 230.518 92.8216 278.603 132.78C308.139 157.338 324.798 189.11 325.769 227.993C327.251 287.24 283.969 332.724 232.306 337.942C187.9 342.393 141.603 310.263 142.421 258.384C142.932 223.952 173.592 195.914 211.253 206.249C225.868 210.24 237.161 222.724 239 237.049C241.147 253.728 234.759 266.161 219.736 274.552C219.378 274.756 219.173 275.165 217.436 277.212C223.517 276.752 228.167 277.11 232.46 275.984C255.199 269.947 268.894 246.719 265.164 223.133C258.521 180.668 216.005 154.831 172.468 165.319C121.316 177.701 89.5318 228.812 99.5986 282.533C111.198 344.644 169.862 388.491 234.35 383.323C311.001 377.133 372.628 310.212 372.475 233.161C372.372 172.175 346.005 123.826 297.153 89.3937C234.146 44.9333 167.204 44.4728 99.803 79.9286C53.8126 104.18 21.3639 141.222 3.32545 190.082C-16.5015 243.905 -13.8443 297.626 8.9976 349.812C34.2412 407.626 75.9391 449.988 134.551 473.881C197.047 499.36 260.156 498.03 321.681 470.761C402.982 434.793 455.257 372.937 474.113 285.807C491.692 204.663 472.018 130.58 423.268 64.0681C390.258 19.0449 347.589 -13.5969 295.313 -33.448C277.786 -40.0992 269.354 -51.9178 271.091 -67.2666C272.471 -79.341 279.83 -87.1177 290.05 -92.6433C297.715 -92.6433 305.329 -92.6433 312.994 -92.6433L312.943 -92.6944Z' fill='#C2CAF4')

                .content-wrapper-info-body-content
                  .content-wrapper-info-body-content-title
                    | Why you should stake with node101 ?
                  .content-wrapper-info-body-content-text
                    | Stake your assets with node; monitor assest performance in
                    | your portfolio, auto-stake your assets without fees, and control
                    | your assets on our mobile app

              .content-wrapper-info-body-wrapper-each
                .content-wrapper-info-body-spiral
                  svg(width='500' height='500' viewbox='0 0 1080 1080' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M-507.768 1243.08C-539.671 1222.17 -572.623 1202.75 -603.457 1180.22C-776.467 1053.59 -891.512 886.549 -949.849 680.132C-977.594 581.53 -988.9 481.179 -981.181 379.199C-970.365 237.087 -932.566 103.2 -855.831 -18.1734C-743.672 -195.743 -587.787 -317.544 -387.42 -380.444C-264.047 -419.268 -138.89 -427.504 -10.3247 -406.826C116.633 -386.392 231.45 -340.236 334.028 -264.119C473.05 -160.914 564.597 -24.0626 614.192 141.654C652.03 267.582 654.689 395.011 626.092 522.481C597.997 647.558 539.098 757.107 450.074 850.271C368.559 935.525 272.26 997.265 160.35 1033.72C-2.0381 1086.63 -163.326 1085.52 -320.394 1014.41C-519.026 924.624 -644.643 771.198 -685.537 558.247C-731.753 318.147 -659.458 114.342 -457.885 -30.2681C-294.937 -147.153 -114.571 -169.614 72.3235 -89.1604C248.415 -13.3696 366.657 170.484 360.832 360.819C355.57 533.955 275.952 664.354 120.823 744.295C-30.7642 822.58 -217.665 789.862 -327.768 665.96C-395.392 589.816 -426.38 499.911 -413.408 397.634C-393.648 241.794 -262.038 139.89 -124.529 146.841C-6.34718 152.906 102.191 255.583 79.3437 391.199C64.2625 481.221 -27.2985 542.448 -121.897 500.331C-158.615 484.039 -183.237 446.818 -182.342 408.546C-181.311 363.983 -159.605 333.956 -116.875 317.967C-115.855 317.574 -115.156 316.583 -109.785 311.914C-125.909 310.692 -137.956 307.897 -149.657 309.133C-211.676 315.874 -256.845 371.272 -256.479 434.566C-256.013 548.492 -154.875 633.169 -36.5618 623.068C102.466 611.046 206.183 489.804 201.234 345.016C195.614 177.63 59.3352 39.315 -111.776 27.1091C-315.175 12.729 -503.43 163.483 -533.778 365.446C-557.849 525.293 -508.025 662.512 -393.708 772.241C-246.287 913.899 -70.993 941.831 119.841 875.834C250.077 830.648 349.92 746.539 416.705 625.709C490.159 492.587 504.632 350.758 465.582 204.892C422.483 43.3197 330.084 -84.3339 185.975 -170.343C32.3192 -262.058 -133.644 -283.768 -305.806 -236.874C-533.279 -175.085 -694.999 -33.8706 -779.2 186.915C-857.663 392.524 -835.657 594.506 -734.41 788.253C-665.845 919.41 -567.021 1021.98 -437.91 1094.87C-394.619 1119.29 -377.233 1153.63 -387.913 1193.15C-396.349 1224.24 -418.741 1241.68 -447.737 1252.08C-467.83 1249.02 -487.789 1245.98 -507.882 1242.92L-507.768 1243.08Z' fill='#E3FFF3')
                    path(d='M928.232 2108.08C896.329 2087.17 863.377 2067.75 832.543 2045.22C659.533 1918.59 544.488 1751.55 486.151 1545.13C458.406 1446.53 447.1 1346.18 454.819 1244.2C465.635 1102.09 503.434 968.2 580.169 846.827C692.328 669.257 848.213 547.456 1048.58 484.556C1171.95 445.732 1297.11 437.496 1425.68 458.174C1552.63 478.608 1667.45 524.764 1770.03 600.881C1909.05 704.086 2000.6 840.937 2050.19 1006.65C2088.03 1132.58 2090.69 1260.01 2062.09 1387.48C2034 1512.56 1975.1 1622.11 1886.07 1715.27C1804.56 1800.52 1708.26 1862.26 1596.35 1898.72C1433.96 1951.63 1272.67 1950.52 1115.61 1879.41C916.974 1789.62 791.357 1636.2 750.463 1423.25C704.247 1183.15 776.542 979.342 978.115 834.732C1141.06 717.847 1321.43 695.386 1508.32 775.84C1684.42 851.63 1802.66 1035.48 1796.83 1225.82C1791.57 1398.96 1711.95 1529.35 1556.82 1609.29C1405.24 1687.58 1218.33 1654.86 1108.23 1530.96C1040.61 1454.82 1009.62 1364.91 1022.59 1262.63C1042.35 1106.79 1173.96 1004.89 1311.47 1011.84C1429.65 1017.91 1538.19 1120.58 1515.34 1256.2C1500.26 1346.22 1408.7 1407.45 1314.1 1365.33C1277.38 1349.04 1252.76 1311.82 1253.66 1273.55C1254.69 1228.98 1276.39 1198.96 1319.13 1182.97C1320.14 1182.57 1320.84 1181.58 1326.21 1176.91C1310.09 1175.69 1298.04 1172.9 1286.34 1174.13C1224.32 1180.87 1179.16 1236.27 1179.52 1299.57C1179.99 1413.49 1281.12 1498.17 1399.44 1488.07C1538.47 1476.05 1642.18 1354.8 1637.23 1210.02C1631.61 1042.63 1495.34 904.315 1324.22 892.109C1120.82 877.729 932.57 1028.48 902.222 1230.45C878.151 1390.29 927.975 1527.51 1042.29 1637.24C1189.71 1778.9 1365.01 1806.83 1555.84 1740.83C1686.08 1695.65 1785.92 1611.54 1852.7 1490.71C1926.16 1357.59 1940.63 1215.76 1901.58 1069.89C1858.48 908.32 1766.08 780.666 1621.98 694.657C1468.32 602.942 1302.36 581.232 1130.19 628.126C902.721 689.915 741.001 831.129 656.8 1051.91C578.337 1257.52 600.343 1459.51 701.59 1653.25C770.155 1784.41 868.979 1886.98 998.09 1959.87C1041.38 1984.29 1058.77 2018.63 1048.09 2058.15C1039.65 2089.24 1017.26 2106.68 988.263 2117.08C968.17 2114.02 948.211 2110.98 928.118 2107.92L928.232 2108.08Z' fill='#E3FFF3')

                .content-wrapper-info-body-content
                  .content-wrapper-info-body-content-title
                    | Minimised Commissions 
                  .content-wrapper-info-body-content-text
                    | At node101, we prioritize fair commission rates 
                    | for our stakers. 101 always offers some of the 
                    | lowest commission fees across the ecosystem, 
                    | never exceeding 5%.

              .content-wrapper-info-body-wrapper-each
                .content-wrapper-info-body-spiral
                  svg(width='500' height='500' viewbox='0 0 1080 1080' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1178 78.5008C1102.5 622.001 -142 15.4988 -165 434C-188 852.501 791 254.5 820.5 645C831.19 786.5 578.537 856.696 375 803.001C13.0004 707.501 -36.9996 969.001 42.5004 1257.5' stroke='#FFDED5' stroke-width='190' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M33.9567 1168.41C625.525 1365.67 829.168 842.925 1058.49 884.552C1287.81 926.179 1064.16 1322.22 1170.22 1410.79C1243.58 1472.04 1245.26 1342.01 1375.2 1193.45C1485.58 1067.25 1669.97 1080.65 1745.63 1230.3' stroke='#FFDED5' stroke-width='194' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M-631.591 -268.532C-92.3911 -77.085 -142.732 -239.351 73.3515 -186.998C289.435 -134.645 376.985 -3.49805 486.352 -3.49805C614.352 -3.49805 619.352 -49.498 805.352 -123.998C943.947 -179.511 1025.35 -162.849 1225.85 -331.999' stroke='#FFDED5' stroke-width='194' stroke-linecap='round' stroke-linejoin='round')

                .content-wrapper-info-body-content
                  .content-wrapper-info-body-content-title
                    | Governance Participation
                  .content-wrapper-info-body-content-text
                    | As a token holder, you can participate in blockchain decisions, but keeping up with debates can be time-consuming. At node101, we vote on your behalf in all chains you stake in, ensuring the best outcomes for you. 

              .content-wrapper-info-body-wrapper-each
                .content-wrapper-info-body-spiral
                  svg(width='500' height='500' viewbox='0 0 1061 1080' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M118.999 11.9998C-171.001 716.5 963.166 -419.926 996.083 84.2871C1029 588.5 -264.501 590.999 59.9993 821.499' stroke='url(#paint0_linear_2061_1971)' stroke-width='128' stroke-linecap='square' stroke-linejoin='round')
                    path(d='M66.9979 825C335.998 1033.5 689.498 727.999 801.998 877.5C868.594 966 705.998 1040.5 772.498 1217.5' stroke='url(#paint1_linear_2061_1971)' stroke-width='128' stroke-linecap='square' stroke-linejoin='round')
                    defs
                      lineargradient#paint0_linear_2061_1971(x1='930.499' y1='-19' x2='1011.41' y2='799.154' gradientunits='userSpaceOnUse')
                        stop(offset='0.206871' stop-color='#F37372')
                        stop(offset='0.769089' stop-color='#FFD9CD')
                      lineargradient#paint1_linear_2061_1971(x1='-123.502' y1='704' x2='805.882' y2='797.605' gradientunits='userSpaceOnUse')
                        stop(offset='0.388474' stop-color='#FFD9CD')
                        stop(offset='1' stop-color='#F37372')
                .content-wrapper-info-body-content
                  .content-wrapper-info-body-content-title
                    | 7/24 Support
                  .content-wrapper-info-body-content-text
                    | Learning about staking can be challenging, and you may have investment concerns. Our support team responds to emails at hello@node101.io within 12 hours, and even quicker on Telegram. Our tokenomics, community, and technical experts are ready to answer your blockchain questions.
                
              .content-wrapper-info-body-wrapper-each
                .content-wrapper-info-body-spiral
                  svg(width='500' height='500' viewbox='0 0 1080 1080' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M-115.524 310.114C-5.23803 353.032 467.509 299.038 819.047 -108.889' stroke='#9695DF' stroke-width='115')
                    path(d='M1230.94 747.68C1112.78 756.126 708.524 1007.71 565.95 1527.67' stroke='#9695DF' stroke-width='115')
                    path(d='M-45.7468 940.675C-20.361 824.964 429.443 174.382 1102.66 185.553' stroke='#9695DF' stroke-width='115')
                    path(d='M1134.82 315.779C1100.36 430.432 792.839 1025.21 -34.2218 1149.5' stroke='#9695DF' stroke-width='115')

                .content-wrapper-info-body-content
                  .content-wrapper-info-body-content-title
                    | One Click Staking
                  .content-wrapper-info-body-content-text
                    | Staking can be overwhelming with new chains and technologies emerging daily. At node101, we make staking easy across any chain we validate. Our user-friendly staking interface lets you choose and stake in just one click.

            .content-wrapper-info-body-rarrow
              svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.1486 14.0002L18.3237 7.82512C18.7793 7.36951 18.7793 6.63082 18.3237 6.1752C17.868 5.71959 17.1294 5.71959 16.6737 6.1752L9.67374 13.1752C9.21813 13.6308 9.21813 14.3695 9.67374 14.8251L16.6737 21.8251C17.1294 22.2807 17.868 22.2807 18.3237 21.8251C18.7793 21.3695 18.7793 20.6308 18.3237 20.1752L12.1486 14.0002Z' fill='#9695DF')
            
          .content-wrapper-info-footer
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
       
        .content-wrapper-portfolio-body(style=globalAddressKey ? '':'display: none;')
          .content-wrapper-portfolio-body-stat
            .content-wrapper-portfolio-body-stat-title
              .content-wrapper-portfolio-body-stat-title-name= __('All Wallet')
                //- | All Wallet 
            .content-wrapper-portfolio-body-stat-chain
              .content-wrapper-portfolio-body-stat-chain-name
                .content-wrapper-portfolio-body-stat-chain-name-icon
                  img.content-wrapper-portfolio-body-stat-chain-name-icon(src=listOfToken[currentChainKey].img_url)
                .content-wrapper-portfolio-body-stat-chain-name-token
                  .content-wrapper-portfolio-body-stat-chain-name-token-name
                    | #{listOfToken[currentChainKey].coin_denom}
                  .content-wrapper-portfolio-body-stat-chain-name-token-darrow
              .content-wrapper-portfolio-body-stat-chain-value
                .content-wrapper-portfolio-body-stat-chain-value-title
                  .content-wrapper-portfolio-body-stat-chain-value-title-icon
                    svg(width='18' height='13' viewbox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M9.00007 3.61111C7.34318 3.61111 6 4.90451 6 6.5C6 8.09549 7.34318 9.38889 9.00007 9.38889C10.657 9.38889 12.0001 8.09549 12.0001 6.5C12.0001 4.90451 10.657 3.61111 9.00007 3.61111ZM7.50003 6.5C7.50003 5.70226 8.17162 5.05556 9.00007 5.05556C9.82851 5.05556 10.5001 5.70226 10.5001 6.5C10.5001 7.29774 9.82851 7.94444 9.00007 7.94444C8.17162 7.94444 7.50003 7.29774 7.50003 6.5Z' fill='#72728F')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M17.9208 6.1765C17.921 6.17677 17.9211 6.17701 17.2502 6.5C17.9211 6.82299 17.921 6.82323 17.9208 6.8235L17.9196 6.82582L17.917 6.83075L17.9085 6.84679C17.9014 6.86019 17.8912 6.87894 17.8782 6.90268C17.8521 6.95016 17.8142 7.01767 17.7648 7.10234C17.6659 7.27159 17.5204 7.51002 17.3295 7.7946C16.9487 8.36239 16.3826 9.12124 15.6411 9.88285C14.1718 11.392 11.9248 13 9.00007 13C6.07537 13 3.82831 11.392 2.35902 9.88285C1.61753 9.12124 1.05144 8.36239 0.670635 7.7946C0.479766 7.51002 0.334219 7.27159 0.235352 7.10234C0.18589 7.01767 0.148026 6.95016 0.121936 6.90268C0.108888 6.87894 0.0987766 6.86019 0.0916235 6.84679L0.0831124 6.83075L0.080524 6.82582L0.0796474 6.82414C0.0795096 6.82387 0.0790494 6.82299 0.749885 6.5C0.0790494 6.17701 0.0791757 6.17677 0.0793135 6.1765L0.080524 6.17418L0.0831124 6.16925L0.0916235 6.15321C0.0987766 6.13981 0.108888 6.12106 0.121936 6.09732C0.148026 6.04984 0.18589 5.98233 0.235352 5.89766C0.334219 5.72841 0.479766 5.48998 0.670635 5.2054C1.05144 4.63761 1.61753 3.87876 2.35902 3.11715C3.82831 1.60798 6.07537 0 9.00007 0C11.9248 0 14.1718 1.60798 15.6411 3.11715C16.3826 3.87876 16.9487 4.63761 17.3295 5.2054C17.5204 5.48998 17.6659 5.72841 17.7648 5.89766C17.8142 5.98233 17.8521 6.04984 17.8782 6.09732C17.8912 6.12106 17.9014 6.13981 17.9085 6.15321L17.917 6.16925L17.9196 6.17418L17.9208 6.1765ZM1.93072 7.01095C1.7961 6.81023 1.68743 6.6364 1.60546 6.5C1.68743 6.3636 1.7961 6.18977 1.93072 5.98905C2.27649 5.4735 2.78855 4.7879 3.45335 4.10507C4.79661 2.72535 6.67465 1.44444 9.00007 1.44444C11.3255 1.44444 13.2035 2.72535 14.5468 4.10507C15.2116 4.7879 15.7236 5.4735 16.0694 5.98905C16.204 6.18977 16.3127 6.3636 16.3947 6.5C16.3127 6.6364 16.204 6.81023 16.0694 7.01095C15.7236 7.5265 15.2116 8.2121 14.5468 8.89493C13.2035 10.2747 11.3255 11.5556 9.00007 11.5556C6.67465 11.5556 4.79661 10.2747 3.45335 8.89493C2.78855 8.2121 2.27649 7.5265 1.93072 7.01095Z' fill='#72728F')
                      path(d='M17.2502 6.5L17.9208 6.1765C18.0264 6.37983 18.0264 6.62017 17.9208 6.8235L17.2502 6.5Z' fill='#72728F')
                      path(d='M0.0793135 6.1765L0.749885 6.5L0.0790494 6.82299C-0.0265257 6.61966 -0.0262616 6.37983 0.0793135 6.1765Z' fill='#72728F')
                  .content-wrapper-portfolio-body-stat-chain-value-title-text
                    | Total Wallet Value
                .content-wrapper-portfolio-body-stat-chain-value-amount
                  .content-wrapper-portfolio-body-stat-chain-value-amount-token
                    |#{globalBalanceKey} 
                  .content-wrapper-portfolio-body-stat-chain-value-amount-usd
                    - console.log(globalBalanceKey);
                    | $ #{(listOfToken[currentChainKey].price * parseFloat(globalBalanceKey)).toFixed(2)}
            .content-wrapper-portfolio-body-stat-each
              .content-wrapper-portfolio-body-stat-timeline
                .content-wrapper-portfolio-body-stat-timeline-time
                  | 24H
                .content-wrapper-portfolio-body-stat-timeline-percent
                  .content-wrapper-portfolio-body-stat-timeline-percent-text
                    if (listOfToken[currentChainKey].price_change_24h) < 0  
                      .change(style='color: #FF0000;')
                        | &nbsp; $ #{(listOfToken[currentChainKey].price).toFixed(2)} &nbsp;
                    else 
                      .change(style='color: #00C524;')
                        | &nbsp; $ #{(listOfToken[currentChainKey].price).toFixed(2)} &nbsp;
                  .content-wrapper-portfolio-body-stat-timeline-percent-text.content-wrapper-portfolio-body-stat-timeline-percent-text-arrow
                    if (listOfToken[currentChainKey].price_change_24h) < 0  
                      svg(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.33975 15.1099C9.1473 15.4432 8.66617 15.4432 8.47372 15.1099L0.54807 1.38223C0.309402 0.968841 0.730422 0.488006 1.1717 0.669988L7.00051 3.07375C8.22145 3.57726 9.59202 3.57726 10.813 3.07375L16.6418 0.66999C17.083 0.488008 17.5041 0.968843 17.2654 1.38223L9.33975 15.1099Z' fill='#FF0000')
                    else
                      svg(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.66025 0.890086C8.8527 0.556799 9.33383 0.556799 9.52628 0.890086L17.4519 14.6178C17.6906 15.0312 17.2696 15.512 16.8283 15.33L10.9995 12.9263C9.77855 12.4227 8.40798 12.4227 7.18704 12.9263L1.35822 15.33C0.917944 15.512 0.496924 15.0312 0.735592 14.6178L8.66025 0.890086Z' fill='#00C524')

                  .content-wrapper-portfolio-body-stat-timeline-percent-text.content-wrapper-portfolio-body-stat-timeline-percent-text-change
                    if (listOfToken[currentChainKey].price_change_24h) < 0  
                      .change(style='color: #FF0000;')
                        | &nbsp; #{(listOfToken[currentChainKey].price_change_24h).toFixed(2)} % &nbsp;
                    else 
                      .change(style='color: #00C524;')
                        | &nbsp; #{(listOfToken[currentChainKey].price_change_24h).toFixed(2)} % &nbsp;
              //-
                .content-wrapper-portfolio-body-stat-timeline
                  .content-wrapper-portfolio-body-stat-timeline-time
                    | All TIme
                  .content-wrapper-portfolio-body-stat-timeline-percent
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | +$2.33%
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      svg(width='16' height='14' viewbox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.43301 13.1782C8.24056 13.5116 7.75944 13.5116 7.56699 13.1782L0.7346 1.34418C0.495933 0.930791 0.916953 0.449957 1.35824 0.63194L6.09377 2.58484C7.31472 3.08835 8.68529 3.08835 9.90624 2.58484L14.6418 0.631943C15.083 0.44996 15.5041 0.930795 15.2654 1.34418L8.43301 13.1782Z' fill='#FF0000')
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | 5%
              .content-wrapper-portfolio-body-stat-balance
                .content-wrapper-portfolio-body-stat-balance-text
                  | Total Staked Balance
                .content-wrapper-portfolio-body-stat-balance-statusbar-1
              .content-wrapper-portfolio-body-stat-balance
                .content-wrapper-portfolio-body-stat-balance-text
                  | Total Available Balance
                .content-wrapper-portfolio-body-stat-balance-statusbar-3
              .content-wrapper-portfolio-body-stat-balance.content-wrapper-portfolio-body-stat-balance-unclaimed
                .content-wrapper-portfolio-body-stat-balance-text
                  | Unclaimed Rewards:
                .content-wrapper-portfolio-body-stat-balance-text-reward
                  
          .content-wrapper-portfolio-body-validators
            .content-wrapper-portfolio-body-validators-content-no-validator-background.display-none
              svg(width='342' height='121' viewbox='0 0 342 121' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M5.59771 -28.5C5.59771 38.416 33.7288 68.541 90.5313 53.2714C140.002 36.5488 192.562 33.4492 204.452 75.1893C208.74 90.2423 199.699 106.361 190 111.5C174.657 119.629 157.472 112.997 146.921 100.431C127.756 77.6028 122.718 34.0772 148.545 12.2103C188.963 -22.0097 244.255 -15.0288 286.57 7.53919C294.999 12.0345 358.386 61.0757 320.291 48.0758C313.378 45.7164 286.271 36.5088 293.334 38.416C305.045 41.5782 311.108 40.2463 321.341 47.2189C323.373 48.6031 340.188 57.3569 335.365 48.2468C331.653 28.9992 332.56 27.915 327.753 13.2819' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')
            .content-wrapper-portfolio-body-validators-title
              .content-wrapper-portfolio-body-validators-title-name
                | Your Validators
              .content-wrapper-portfolio-body-validators-reload
                svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.41867 12.7915V10.428H4.78212' stroke='#2C202A' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M13.1864 5.51727C13.7744 8.64455 11.8607 11.7449 8.73617 12.5821C6.34477 13.2228 3.90475 12.3609 2.41867 10.5751' stroke='#2C202A' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M1.10587 7.77572C0.517802 4.64846 2.43156 1.54812 5.55607 0.71091C7.9473 0.0701819 10.3871 0.931963 11.8733 2.71754' stroke='#2C202A' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M11.8726 0.501537V2.86499H9.50911' stroke='#2C202A' stroke-linecap='round' stroke-linejoin='round')
            .content-wrapper-portfolio-body-validators-content

              .content-wrapper-portfolio-body-validators-content-no-validator.display-none
                .content-wrapper-portfolio-body-validators-content-no-validator-text 
                  .content-wrapper-portfolio-body-validators-content-no-validator-text-title 
                    | Stake not found!

                  .content-wrapper-portfolio-body-validators-content-no-validator-text-subtitle
                    | You don’t have any staked assets.
                .content-wrapper-portfolio-body-validators-content-no-validator-button
                  .content-wrapper-portfolio-body-validators-content-third-text
                    | Stake with node101
                  .content-wrapper-portfolio-body-validators-content-third-arrow-no-validator
                    svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')
              .content-wrapper-portfolio-body-validators-content-no-validator.content-wrapper-portfolio-body-validators-content-one-validator.display-none
                .content-wrapper-portfolio-body-validators-content-no-validator-text 
                  .content-wrapper-portfolio-body-validators-content-no-validator-text-title 
                    | 🥳 Thanks for choosing node101

                  .content-wrapper-portfolio-body-validators-content-no-validator-text-subtitle
                    | Your staked assets are safe with us
                .content-wrapper-portfolio-body-validators-content-no-validator-button
                  .content-wrapper-portfolio-body-validators-content-third-text
                    | Stake more 🤑
                  .content-wrapper-portfolio-body-validators-content-third-arrow-no-validator
                    svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')

            //-
                .content-wrapper-portfolio-body-validators-content-third
                  .content-wrapper-portfolio-body-validators-content-third-icon
                    svg(width='35' height='21' viewbox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.273107 20.2568H4.50079C4.65009 20.2568 4.7739 20.113 4.7739 19.9369V0.319882C4.7739 0.143767 4.65009 0 4.50079 0H0.273107C0.123808 0 0 0.143767 0 0.319882V19.9369C0 20.113 0.123808 20.2568 0.273107 20.2568Z' fill='#2C202A')
                      path(d='M29.6051 20.2568H33.8328C33.9821 20.2568 34.1059 20.113 34.1059 19.9369V0.319882C34.1059 0.143767 33.9821 0 33.8328 0H29.6051C29.4558 0 29.332 0.143767 29.332 0.319882V19.9369C29.332 20.113 29.4558 20.2568 29.6051 20.2568Z' fill='#2C202A')
                      path(d='M15.2692 4.26747C14.9958 2.9351 14.726 1.61354 14.4525 0.277573C15.1721 0.0975239 15.8736 0.00389821 16.586 0.000297223C19.2843 -0.0177077 21.7164 0.781712 23.7599 2.5606C25.5696 4.13783 26.6453 6.15799 26.9943 8.54184C27.3181 10.7565 27.0051 12.8774 25.9509 14.858C24.4291 17.71 22.0761 19.4961 18.9137 20.1622C16.7299 20.6232 14.6 20.3711 12.5853 19.4096C10.0669 18.2069 8.23925 16.3164 7.32902 13.6625C6.04823 9.92102 8.51627 5.8447 12.4198 5.18572C14.395 4.85083 16.1903 5.28295 17.7157 6.61531C18.9353 7.68121 19.7772 8.98477 20.083 10.6052C20.1909 11.1886 20.2017 11.7719 20.1442 12.3625C20.1298 12.5173 20.0506 12.5497 19.9175 12.5641C18.7626 12.6902 17.6114 12.8198 16.4565 12.9495C16.1974 12.9783 15.942 13.0071 15.6794 13.0359C15.7765 12.755 15.8916 12.4993 15.9492 12.2329C16.1903 11.167 15.7046 10.1839 14.708 9.60054C13.6323 8.97396 12.6069 9.28005 11.9485 9.87781C11.1534 10.6016 10.9483 11.7323 11.4124 12.7082C12.4882 14.9588 14.7404 16.3056 17.2336 16.1831C19.9859 16.0499 22.3892 13.9325 22.8425 11.2138C23.1771 9.20082 22.6554 7.42914 21.2631 5.93473C20.3852 4.99127 19.3419 4.31788 18.0395 4.11983C17.158 3.98659 16.291 4.06221 15.4239 4.24226C15.3772 4.25307 15.3304 4.25667 15.2692 4.26747Z' fill='#2C202A')
                  .content-wrapper-portfolio-body-validators-content-third-text
                    | Redelegate
                  .content-wrapper-portfolio-body-validators-content-third-arrow
                    svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')
            //-
                if redegelations
                  each validator in redelegations
                    .content-wrapper-portfolio-body-validators-content-first
                      input#content-wrapper-portfolio-body-validators-content-first-address(style='display: none;', value=validator.operatorAddress)
                      .content-wrapper-portfolio-body-validators-content-first-icon
                        img.content-wrapper-portfolio-body-validators-content-first-icon(src=validator.picture)
                      .content-wrapper-portfolio-body-validators-content-first-text
                        | #{validator.moniker}

    
              .content-wrapper-portfolio-body-validators-content-third
                .content-wrapper-portfolio-body-validators-content-third-icon
                  svg(width='35' height='21' viewbox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.273107 20.2568H4.50079C4.65009 20.2568 4.7739 20.113 4.7739 19.9369V0.319882C4.7739 0.143767 4.65009 0 4.50079 0H0.273107C0.123808 0 0 0.143767 0 0.319882V19.9369C0 20.113 0.123808 20.2568 0.273107 20.2568Z' fill='#2C202A')
                    path(d='M29.6051 20.2568H33.8328C33.9821 20.2568 34.1059 20.113 34.1059 19.9369V0.319882C34.1059 0.143767 33.9821 0 33.8328 0H29.6051C29.4558 0 29.332 0.143767 29.332 0.319882V19.9369C29.332 20.113 29.4558 20.2568 29.6051 20.2568Z' fill='#2C202A')
                    path(d='M15.2692 4.26747C14.9958 2.9351 14.726 1.61354 14.4525 0.277573C15.1721 0.0975239 15.8736 0.00389821 16.586 0.000297223C19.2843 -0.0177077 21.7164 0.781712 23.7599 2.5606C25.5696 4.13783 26.6453 6.15799 26.9943 8.54184C27.3181 10.7565 27.0051 12.8774 25.9509 14.858C24.4291 17.71 22.0761 19.4961 18.9137 20.1622C16.7299 20.6232 14.6 20.3711 12.5853 19.4096C10.0669 18.2069 8.23925 16.3164 7.32902 13.6625C6.04823 9.92102 8.51627 5.8447 12.4198 5.18572C14.395 4.85083 16.1903 5.28295 17.7157 6.61531C18.9353 7.68121 19.7772 8.98477 20.083 10.6052C20.1909 11.1886 20.2017 11.7719 20.1442 12.3625C20.1298 12.5173 20.0506 12.5497 19.9175 12.5641C18.7626 12.6902 17.6114 12.8198 16.4565 12.9495C16.1974 12.9783 15.942 13.0071 15.6794 13.0359C15.7765 12.755 15.8916 12.4993 15.9492 12.2329C16.1903 11.167 15.7046 10.1839 14.708 9.60054C13.6323 8.97396 12.6069 9.28005 11.9485 9.87781C11.1534 10.6016 10.9483 11.7323 11.4124 12.7082C12.4882 14.9588 14.7404 16.3056 17.2336 16.1831C19.9859 16.0499 22.3892 13.9325 22.8425 11.2138C23.1771 9.20082 22.6554 7.42914 21.2631 5.93473C20.3852 4.99127 19.3419 4.31788 18.0395 4.11983C17.158 3.98659 16.291 4.06221 15.4239 4.24226C15.3772 4.25307 15.3304 4.25667 15.2692 4.26747Z' fill='#2C202A')
                .content-wrapper-portfolio-body-validators-content-third-text
                  | Redelegate
                .content-wrapper-portfolio-body-validators-content-third-arrow
                  svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')
          .content-wrapper-portfolio-body-buttons.display-none
            .content-wrapper-portfolio-body-buttons-spiral-right
              svg(width='103' height='101' viewbox='0 0 103 101' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M24.6874 -54C9.77758 -28.1885 -5.85956 -17.0268 15.3131 1.17368C35.0959 16.1097 50.3608 35.8991 37.1654 51.7197C32.4067 57.4252 23.4125 56.437 18.8042 54.0059C11.5141 50.1602 9.77733 43.3966 11.8866 35.8991C15.7184 22.2793 31.4457 8.66927 46.9268 12.9555C71.1534 19.6632 83.1942 43.2186 85.6519 65.8498C86.1415 70.3577 83.8819 104.235 78.7991 85.8169C77.8766 82.4742 75.5258 72.3669 76.6656 75.6473C78.5554 81.0864 79.3809 84.2179 79.3809 90.0956C79.3809 91.2625 78.4916 97.3608 81.1911 95.2424C86.7183 90.9047 92.568 86.9963 98 82.5304' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')
            .content-wrapper-portfolio-body-buttons-spiral-left
              svg(width='109' height='215' viewbox='0 0 109 149' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M3.31843 132.252C13.8207 132.721 42.8302 100.177 46.9416 85.1831C48.6524 78.9442 47.3417 69.444 42.8421 64.2691C33.1792 53.1561 11.3483 60.7909 24.9766 74.7151C32.6196 82.5241 46.5008 80.3494 56.3084 78.6787C70.7654 76.2159 78.2884 68.9502 86.4997 57.9775C90.6698 52.405 100.242 24.6142 98.1309 25.14' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')
                path(d='M101.736 18.7626C99.7805 19.8258 85.0799 28.4323 86.7312 27.1552C88.8926 25.4837 91.3012 23.9752 93.2338 22.0551C95.5203 19.7834 98.3643 18.1034 100.374 15.6052C102.138 13.4131 105.812 27.5806 105.85 30.1398' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')

            .content-wrapper-portfolio-body-buttons-each.content-wrapper-portfolio-body-buttons-each-collect
              .content-wrapper-portfolio-body-buttons-each-text
                | Collect Your Rewards
              .content-wrapper-portfolio-body-buttons-each-arrow
                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M6.87915 14.1148C6.89181 14.1278 7.27975 14.2274 7.74116 14.3359C8.20264 14.4445 8.58519 14.5168 8.59134 14.4966C8.59743 14.4764 8.64518 14.1484 8.69739 13.7678C8.80227 13.0034 9.05621 12.111 9.32755 11.5528C10.1733 9.81332 11.6908 8.66152 13.5313 8.36216L14 8.28591V7.51748V6.74899L13.5752 6.67601C10.7921 6.19792 8.9777 4.06718 8.63827 0.87852C8.61612 0.670303 8.58964 0.5 8.57944 0.5C8.48558 0.5 6.9303 0.883787 6.90089 0.91419C6.87962 0.936175 6.89544 1.13137 6.9361 1.34789C7.38615 3.74541 8.67477 5.69634 10.347 6.51207L10.7481 6.70775L2.49949 6.72307L0 6.7328L0 8.28798L2.51291 8.29772L10.7421 8.3131L10.2357 8.57582C8.92192 9.25734 7.88179 10.5942 7.26926 12.3887C7.09471 12.8999 6.83134 14.0654 6.87915 14.1148Z' fill='#F5F5F5')
            .content-wrapper-portfolio-body-buttons-each.content-wrapper-portfolio-body-buttons-each-restake
              .content-wrapper-portfolio-body-buttons-each-text
                | Collect and Restake
              .content-wrapper-portfolio-body-buttons-each-arrow
                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M6.87915 14.1148C6.89181 14.1278 7.27975 14.2274 7.74116 14.3359C8.20264 14.4445 8.58519 14.5168 8.59134 14.4966C8.59743 14.4764 8.64518 14.1484 8.69739 13.7678C8.80227 13.0034 9.05621 12.111 9.32755 11.5528C10.1733 9.81332 11.6908 8.66152 13.5313 8.36216L14 8.28591V7.51748V6.74899L13.5752 6.67601C10.7921 6.19792 8.9777 4.06718 8.63827 0.87852C8.61612 0.670303 8.58964 0.5 8.57944 0.5C8.48558 0.5 6.9303 0.883787 6.90089 0.91419C6.87962 0.936175 6.89544 1.13137 6.9361 1.34789C7.38615 3.74541 8.67477 5.69634 10.347 6.51207L10.7481 6.70775L2.49949 6.72307L0 6.7328L0 8.28798L2.51291 8.29772L10.7421 8.3131L10.2357 8.57582C8.92192 9.25734 7.88179 10.5942 7.26926 12.3887C7.09471 12.8999 6.83134 14.0654 6.87915 14.1148Z' fill='#F5F5F5')
      .redelegate-wrapper.display-none
        .redelegate-wrapper-title
          .redelegate-wrapper-title-icon.opacity-none
          .redelegate-wrapper-title-text
            | Redelegate

          .redelegate-wrapper-title-icon
            svg(width='16' height='16' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M19.5816 2.43872C20.1395 1.88083 20.1395 0.976311 19.5816 0.418419C19.0237 -0.139473 18.1192 -0.139473 17.5613 0.418419L10 7.9797L2.43872 0.418419C1.88083 -0.139473 0.976311 -0.139473 0.418419 0.418419C-0.139473 0.976311 -0.139473 1.88083 0.418419 2.43872L7.9797 10L0.418419 17.5613C-0.139473 18.1192 -0.139473 19.0237 0.418419 19.5816C0.976311 20.1395 1.88083 20.1395 2.43872 19.5816L10 12.0203L17.5613 19.5816C18.1192 20.1395 19.0237 20.1395 19.5816 19.5816C20.1395 19.0237 20.1395 18.1192 19.5816 17.5613L12.0203 10L19.5816 2.43872Z' fill='#2D3648')
        
        .redelegate-wrapper-content
          .redelegate-wrapper-content-header
            .redelegate-wrapper-content-header-title
              | Your Validators
          .redelegate-wrapper-content-dropdown
            .redelegate-wrapper-content-dropdown-icon
              img.redelegate-wrapper-content-dropdown-icon-img
            .redelegate-wrapper-content-dropdown-text
              | Validator
            .redelegate-wrapper-content-dropdown-arrow
              svg(width='14' height='9' viewbox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M7 6.04176L1.70711 0.895896C1.31658 0.516219 0.683417 0.516219 0.292893 0.895896C-0.0976314 1.27557 -0.0976314 1.89115 0.292893 2.27083L6.29289 8.10416C6.68342 8.48383 7.31658 8.48383 7.70711 8.10416L13.7071 2.27082C14.0976 1.89115 14.0976 1.27557 13.7071 0.895895C13.3166 0.516218 12.6834 0.516218 12.2929 0.895895L7 6.04176Z' fill='#2C202A')


          .redelegate-wrapper-content-validators.display-none            
            .redelegate-content-wrapper-stake-body-main-center-body-chain-list-tile-wrapper
             
          .redelegate-wrapper-content-body
            .content-wrapper-stake-body-main-center-title
              .content-wrapper-stake-body-main-center-title-each
                | Available - &nbsp;
                .redelegate-content-wrapper-stake-body-main-center-title-amount
                  | - 
              .content-wrapper-stake-body-main-center-title-each
                .redelegate-content-wrapper-stake-body-main-center-title-each.content-wrapper-stake-body-main-center-title-half
                  | Half |
                .redelegate-content-wrapper-stake-body-main-center-title-each.content-wrapper-stake-body-main-center-title-max
                  |  &nbsp; Max
            .content-wrapper-stake-body-main-center-body
              .content-wrapper-stake-body-main-center-body-icon
                img.content-wrapper-stake-body-main-center-body-icon-img(src=listOfToken[currentChainKey].img_url, alt=listOfToken[currentChainKey].coin_denom)
              .content-wrapper-stake-body-main-center-body-chain
                .content-wrapper-stake-body-main-center-body-chain-name
                  .content-wrapper-stake-body-main-center-body-chain-name-network
                    | #{listOfToken[currentChainKey].chain_name}
                .content-wrapper-stake-body-main-center-body-chain-token
                  | #{listOfToken[currentChainKey].coin_denom}
                .content-wrapper-stake-body-main-center-body-chain-list.display-none

              .content-wrapper-stake-body-main-center-body-stake

                input.redelegate-content-wrapper-stake-body-main-center-body-stake-amount(type="number", placeholder="0")
                .redelegate-content-wrapper-stake-body-main-center-body-stake-dollar
                  | $0

          .redelegate-wrapper-content-buttons
            .redelegate-content-wrapper-portfolio-body-validators-content-third
              .content-wrapper-portfolio-body-validators-content-third-icon
                svg(width='35' height='21' viewbox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.273107 20.2568H4.50079C4.65009 20.2568 4.7739 20.113 4.7739 19.9369V0.319882C4.7739 0.143767 4.65009 0 4.50079 0H0.273107C0.123808 0 0 0.143767 0 0.319882V19.9369C0 20.113 0.123808 20.2568 0.273107 20.2568Z' fill='#2C202A')
                  path(d='M29.6051 20.2568H33.8328C33.9821 20.2568 34.1059 20.113 34.1059 19.9369V0.319882C34.1059 0.143767 33.9821 0 33.8328 0H29.6051C29.4558 0 29.332 0.143767 29.332 0.319882V19.9369C29.332 20.113 29.4558 20.2568 29.6051 20.2568Z' fill='#2C202A')
                  path(d='M15.2692 4.26747C14.9958 2.9351 14.726 1.61354 14.4525 0.277573C15.1721 0.0975239 15.8736 0.00389821 16.586 0.000297223C19.2843 -0.0177077 21.7164 0.781712 23.7599 2.5606C25.5696 4.13783 26.6453 6.15799 26.9943 8.54184C27.3181 10.7565 27.0051 12.8774 25.9509 14.858C24.4291 17.71 22.0761 19.4961 18.9137 20.1622C16.7299 20.6232 14.6 20.3711 12.5853 19.4096C10.0669 18.2069 8.23925 16.3164 7.32902 13.6625C6.04823 9.92102 8.51627 5.8447 12.4198 5.18572C14.395 4.85083 16.1903 5.28295 17.7157 6.61531C18.9353 7.68121 19.7772 8.98477 20.083 10.6052C20.1909 11.1886 20.2017 11.7719 20.1442 12.3625C20.1298 12.5173 20.0506 12.5497 19.9175 12.5641C18.7626 12.6902 17.6114 12.8198 16.4565 12.9495C16.1974 12.9783 15.942 13.0071 15.6794 13.0359C15.7765 12.755 15.8916 12.4993 15.9492 12.2329C16.1903 11.167 15.7046 10.1839 14.708 9.60054C13.6323 8.97396 12.6069 9.28005 11.9485 9.87781C11.1534 10.6016 10.9483 11.7323 11.4124 12.7082C12.4882 14.9588 14.7404 16.3056 17.2336 16.1831C19.9859 16.0499 22.3892 13.9325 22.8425 11.2138C23.1771 9.20082 22.6554 7.42914 21.2631 5.93473C20.3852 4.99127 19.3419 4.31788 18.0395 4.11983C17.158 3.98659 16.291 4.06221 15.4239 4.24226C15.3772 4.25307 15.3304 4.25667 15.2692 4.26747Z' fill='#2C202A')
              .content-wrapper-portfolio-body-validators-content-third-text
                | Redelegate
              .content-wrapper-portfolio-body-validators-content-third-arrow
                svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')
