extends ../partials/header
block main
  .all-wrapper-container
    input.display-none#chain-info-element(type="text" value=JSON.stringify(chainInfo))
    br
    p.selectNetworkLabel choose network
    .button-wrapper
      button#mainnet.button.connectStyle Mainnet
      .tokenWrapper
        img#tokenImg(src=Object.values(listOfToken)[0].img_url width='60px' height='60px')
        span#tokenName #{Object.values(listOfToken)[0].coin_denom}
    .mainStyle
      .eachRow
        p Chain
        p#walletchainValue #{Object.keys(listOfToken)[0]}
      .eachRow
        p Address
        p#walletAddValue -
      .eachRow
        p Token
        p#walletTokenValue #{Object.values(listOfToken)[0].coin_denom}
      .eachRow
        p Balance
        p#walletBalValue -
      input#stake-amount.inputStyle(type='text')
    .button-wrapper
      button#connect-button.button Connect
      button#stake-button.button Stake
  .token-popup-wrapper.modal.display-none
    .modal-content
      h2 Choose Token
      .token-list
        - Object.keys(listOfToken).forEach(tokenName => {
          .token-tile
            img(src=listOfToken[tokenName].img_url alt=tokenName width='50' height='50' class='tokenimage')
            span.tokenimage #{tokenName}
            input#tokenId(style='display:none' type='text' value=listOfToken[tokenName].chain_id)
        - });