extends ../partials/header
block main
  - const chainInfo1 = JSON.stringify(chainInfo);
  - console.log(test);

  .container
    p(style='color: red;') #{test}
    input#chainInfoElement(style='display: none;' type="text" value=chainInfo1)
    input#validatorInfoElement(style='display:none' type="text" value=chainInfo1.validatorAddress)
    input#listofTokenElement(style='display:none' type="text" value=listofToken)
    br
    p.choose(style='color: yellow; font-size: 26px;margin-left:220px;margin-bottom:5px') choose network
    .buttonStyle
      button#mainnet.button.connectStyle Mainnet
      .tokenWrapper
        img#tokenImg(src=Object.values(listOfToken)[0].imgUrl width='60px' height='60px')
        span#tokenName #{Object.values(listOfToken)[0].coinDenom}

    .mainStyle
      .eachRow
        p#walletchain Chain
        p#walletchainValue #{chainName}
      .eachRow
        p#walletAdd Address
        p#walletAddValue -
      .eachRow
        p#walletToken Token
        p#walletTokenValue #{tokenName}
      .eachRow
        p#walletBal Balance
        p#walletBalValue -
      input#amount.inputStyle(type='text')
    .buttonStyle
      button#connect.button.connectStyle Connect
      button#stake.button.connectStyle Stake
  #tokenModal.modal
    .modal-content
      span.close &times;
      h2 Choose Token
      .token-list
        - Object.keys(listOfToken).forEach(tokenName => {
          .token-tile
            img(src=listOfToken[tokenName].imgUrl alt=tokenName width='50' height='50' class='tokenimage')
            span.tokenimage #{tokenName}
        - });
